.weather-card {
    color: #fff;
    overflow: hidden;
    font-family: calibri, sans-serif;
    padding: .8rem 1rem ;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 400;
    box-shadow: 0 2px 2px 0 rgba(194, 88, 88, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-bottom: 1rem;
    cursor: pointer;
}

.day-name {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
}

.weather-icon {
    font-size: 7rem;
    text-align: center;
    padding-top: 15px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.weather-day-temp {
    font-size: 6.5rem;
    float: left;
}

.weather-day-temp .units {
    letter-spacing: -0.1em;
}

.weather-details {
    font-size: 2.5rem;
    float: right;
    padding-top: 1.5rem;
}

.weather-details i {
    padding-right: 0.1em;
}

.weather-windspeed .units{
    font-size: 1.5rem;
    letter-spacing: -0.25em;
}

.sunny {
    background-image: radial-gradient(circle farthest-side,#ffdd40,#ffee50);
}

.cloudy {
    background-image: radial-gradient(circle farthest-side,#ccc,#ddd);
}

.rain {
    background-image: radial-gradient(circle farthest-side,#778198,#90aeaa);
}

.lightning {
    background-image: radial-gradient(circle farthest-side, #221d54,#1e3e76);
}

.default {
    background-image: radial-gradient(circle farthest-side, #667db6,#667db6);
}

@media only screen and (min-width: 601px) {
    .weather-card {
        padding: 2rem 3rem;
        margin-bottom: 2rem;
    }

    .day-name {
        font-size: 3rem;
        line-height: 4rem;
    }

    .weather-icon {
        font-size: 8rem;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .weather-day-temp {
        font-size: 8rem;
    }

    .weather-details {
        font-size: 3.5rem;
        padding-top: 1rem;
    }

    .weather-details i {
        padding-right: 0.1em;
    }

    .weather-windspeed .units{
        font-size: 2rem;
        letter-spacing: -0.25em;
    }

}

@media only screen and (min-width: 601px) {
    .weather-card {
        padding: 1rem 2rem;
    }
    .day-name {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .weather-icon {
        font-size: 5.5rem;
    }
    .weather-day-temp {
        font-size: 4.2rem;
    }

    .weather-details {
        font-size: 1.5rem;
    }

    .weather-windspeed .units {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 993px) {
    .weather-card {
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
    }

    .day-name {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .weather-icon {
        font-size: 4rem;
    }
    .weather-day-temp {
        padding-top: .5rem;
        font-size:2.3rem;
    }

    .weather-details {
        font-size: 1.3rem;
        padding-top: 0.5rem;
    }

    .weather-windspeed .units {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1201px) {
    .weather-card {
        padding: 1rem;
    }

    .weather-day-temp {
        padding-top: .2rem;
        font-size: 3rem;
    }

    .weather-details {
        font-size: 1.5rem;
    }
}